@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 mb-4">Ласкаво просимо до системи "Автобаза"</h1>
    <p class="lead mb-5">
        Керуйте заявками, відстежуйте рейси та призначайте водіїв — усе в одному місці.
    </p>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVKtIPEzVBaNMKtBG0qyxsvay0yei9lxoKAA&s"
                 alt="Автопарк"
                 class="img-fluid rounded shadow" />
        </div>
    </div>
</div>
